@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Semibold.woff2") format("woff2"), url("fonts/Gilroy-Semibold.woff") format("woff"), url("fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff"), url("fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Extrabold.woff2") format("woff2"), url("fonts/Gilroy-Extrabold.woff") format("woff"), url("fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  color: #9E9DA2;
  font-family: "Gilroy";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-family: "Gilroy";
  font-size: 60.726px;
  font-style: normal;
  font-weight: 800;
  line-height: 65.91px;
}

h2 {
  color: #000;
  font-family: "Gilroy";
  font-size: 46.386px;
  font-style: normal;
  font-weight: 800;
  line-height: 50.346px;
}

header {
  position: relative;
  padding: 86px 0 38px 0;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .wrapper .header__burger-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
  z-index: 2;
}
header .wrapper .header__burger-btn span {
  position: absolute;
  width: 22px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  left: 4px;
  top: 13.5px;
}
header .wrapper .header__burger-btn span:nth-child(1) {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}
header .wrapper .header__burger-btn span:nth-child(3) {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}
header .wrapper .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
}
header .wrapper .header__links a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000;
  font-family: "Gilroy";
  font-size: 17.161px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .wrapper .header__links button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 50px;
  background: #75BF7A;
  border-radius: 5.952px;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header .wrapper .header__burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding-top: 100px;
  padding-left: 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  z-index: -1;
}
header .wrapper .header__burger-menu a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000;
  font-family: "Gilroy";
  font-size: 17.161px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .wrapper .header__burger-menu button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 50px;
  background: #75BF7A;
  border-radius: 5.952px;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero {
  padding-top: 60px;
}
.hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.hero .wrapper .hero__text-block {
  margin-right: 100px;
}
.hero .wrapper .hero__text-block h1 {
  width: 557px;
  margin-bottom: 27px;
}
.hero .wrapper .hero__text-block p {
  width: 550px;
  margin-bottom: 62px;
}
.hero .wrapper .hero__text-block .hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero .wrapper .hero__text-block .hero__buttons button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #000;
  width: 260px;
  height: 66.773px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  color: #fff;
  gap: 10px;
  font-family: "Gilroy";
  font-size: 24.601px;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}

.getLink {
  padding-top: 80px;
}
.getLink .wrapper .getLink__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #75BF7A;
  padding: 50px 70px;
  border-radius: 10px;
}
.getLink .wrapper .getLink__container p {
  width: 246px;
  color: #fff;
  font-family: "Gilroy";
  font-size: 24.601px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.getLink .wrapper .getLink__container .inputNbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.getLink .wrapper .getLink__container .inputNbutton input {
  width: 500px;
  height: 67px;
  border-radius: 4.393px;
  background: #fff;
  border: none;
  outline: none;
  padding-left: 30px;
  color: #000;
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
.getLink .wrapper .getLink__container .inputNbutton button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 260px;
  height: 67px;
  background: #000;
  border-radius: 4.393px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}

.how {
  padding-top: 120px;
}
.how .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how .wrapper h2 {
  margin-bottom: 25px;
  color: #000;
  font-family: "Gilroy";
  font-size: 46.386px;
  font-style: normal;
  font-weight: 800;
  line-height: 50.346px;
}
.how .wrapper h2 span {
  color: #75BF7A;
}
.how .wrapper p {
  color: #9E9DA2;
  text-align: center;
  font-family: "Gilroy";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 620px;
}
.how .wrapper .how__container {
  margin: 60px 0;
  display: grid;
  grid-template-areas: "A E B" "C E D";
}
.how .wrapper .how__container #hi-1 {
  display: grid;
  grid-area: A;
  place-items: center;
}
.how .wrapper .how__container #hi-1 .item__wrap {
  place-items: end;
}
.how .wrapper .how__container #hi-1 .item__wrap p {
  text-align: right;
}
.how .wrapper .how__container #hi-2 {
  display: grid;
  grid-area: B;
  place-items: center;
}
.how .wrapper .how__container #hi-2 .item__wrap p {
  text-align: left;
}
.how .wrapper .how__container #hi-3 {
  display: grid;
  grid-area: C;
  place-items: center;
}
.how .wrapper .how__container #hi-3 .item__wrap {
  place-items: end;
}
.how .wrapper .how__container #hi-3 .item__wrap p {
  text-align: right;
  height: 91px;
}
.how .wrapper .how__container #hi-4 {
  display: grid;
  grid-area: D;
  place-items: center;
}
.how .wrapper .how__container #hi-4 p {
  text-align: left;
}
.how .wrapper .how__container .how__item .item__wrap {
  display: grid;
}
.how .wrapper .how__container .how__item .item__wrap .how__img-box {
  position: relative;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #75BF7A;
  font-family: "Gilroy";
  font-size: 34.108px;
  font-style: normal;
  font-weight: 800;
  line-height: 37.019px;
}
.how .wrapper .how__container .how__item .item__wrap .how__img-box img {
  position: absolute;
  left: 0;
  top: 0;
}
.how .wrapper .how__container .how__item .item__wrap h4 {
  color: #000;
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 50.346px;
}
.how .wrapper .how__container .how__item .item__wrap p {
  height: 91px;
  color: #9E9DA2;
  width: 290px;
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.how .wrapper .how__container .how__img-item {
  grid-area: E;
  width: 400px;
  height: 560px;
  position: relative;
  margin: 0 40px;
}
.how .wrapper .how__container .how__img-item img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits {
  padding-top: 90px;
}
.benefits .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .wrapper h2 {
  margin-bottom: 50px;
  color: #000;
  font-family: "Gilroy";
  font-size: 46.386px;
  font-style: normal;
  font-weight: 800;
  line-height: 50.346px;
}
.benefits .wrapper h2 span {
  color: #75BF7A;
}
.benefits .wrapper .benefits__container {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.benefits .wrapper .benefits__container .benefits__item {
  display: grid;
  grid-template-areas: "A C" "B C";
  padding: 0 110px 0 38px;
}
.benefits .wrapper .benefits__container .benefits__item:nth-child(2) {
  margin: 60px 0;
  padding: 0 70px 0 165px;
  grid-template-areas: "C A" "C B";
}
.benefits .wrapper .benefits__container .benefits__item:nth-child(2) img {
  justify-self: start;
}
.benefits .wrapper .benefits__container .benefits__item:nth-child(2) .item-head, .benefits .wrapper .benefits__container .benefits__item:nth-child(2) p {
  justify-self: end;
}
.benefits .wrapper .benefits__container .benefits__item .item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: A;
}
.benefits .wrapper .benefits__container .benefits__item .item-head span {
  color: #75BF7A;
  font-family: "Gilroy";
  font-size: 88px;
  font-style: normal;
  font-weight: 500;
  line-height: 118.8px;
}
.benefits .wrapper .benefits__container .benefits__item .item-head h3 {
  margin-left: 30px;
  color: #000;
  font-family: "Gilroy";
  font-size: 33.943px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px;
}
.benefits .wrapper .benefits__container .benefits__item p {
  grid-area: B;
  color: #9E9DA2;
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
.benefits .wrapper .benefits__container .benefits__item img {
  grid-area: C;
  display: grid;
  justify-self: end;
}

footer {
  padding-top: 330px;
  padding-bottom: 240px;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .line {
  width: 100%;
  height: 1px;
  background: #ECECEC;
}
footer .wrapper .footer__container {
  display: grid;
  padding: 70px 0 40px 0;
  grid-template-areas: "A B C D";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .footer__container .logo {
  margin-right: 90px;
  grid-area: A;
}
footer .wrapper .footer__container .footer__links {
  margin-right: 70px;
  grid-area: B;
}
footer .wrapper .footer__container .footer__links.ll {
  grid-area: C;
  margin-right: 100px;
}
footer .wrapper .footer__container .footer__links h4 {
  color: #272042;
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .wrapper .footer__container .footer__links p {
  margin-top: 0;
  color: #8B8BA5;
  font-family: "Gilroy";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
footer .wrapper .footer__container .footer__buttons {
  grid-area: D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
footer .wrapper .footer__container .footer__buttons button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #000;
  width: 180px;
  height: 45.844px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3.433px;
  color: #fff;
  gap: 10px;
  font-family: "Gilroy";
  font-size: 16.89px;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
footer .wrapper p {
  color: #75BF7A;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

a:hover {
  text-decoration: underline;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

button:hover {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.header__burger-btn:hover {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

@media (max-width: 1299.98px) {
  .wrapper {
    width: 980px;
  }
  .hero .wrapper .hero__text-block {
    margin-right: 60px;
  }
  .hero .wrapper .hero__text-block h1 {
    font-size: 52px;
    width: 420px;
  }
  .hero .wrapper .hero__text-block p {
    font-size: 20px;
    width: 400px;
  }
  .hero .wrapper .hero__text-block .hero__buttons button {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  .hero .wrapper .hero__img-block img {
    width: 100%;
  }
  .getLink .wrapper .getLink__container .inputNbutton input {
    width: 300px;
  }
  .how .wrapper h2 {
    font-size: 32px;
  }
  .how .wrapper p {
    font-size: 20px;
  }
  .how .wrapper .how__container .how__item .item__wrap p {
    width: 240px;
  }
  .benefits .wrapper h2 {
    font-size: 32px;
  }
  .benefits .wrapper .benefits__container {
    width: 980px;
  }
  .benefits .wrapper .benefits__container .benefits__item .item-head h3 {
    font-size: 28px;
  }
  .benefits .wrapper .benefits__container .benefits__item p {
    font-size: 20px;
  }
  footer .wrapper .footer__container .logo {
    margin-right: 50px;
  }
  footer .wrapper .footer__container .footer__links {
    margin-right: 40px;
  }
  footer .wrapper .footer__container .footer__links.ll {
    margin-right: 50px;
  }
  footer .wrapper .footer__container .footer__buttons {
    gap: 10px;
  }
  footer .wrapper .footer__container .footer__buttons button {
    width: 160px;
    height: 40px;
  }
}
@media (max-width: 999.98px) {
  .wrapper {
    width: 680px;
  }
  header {
    padding: 44px 0 0 0;
  }
  header .wrapper .logo img {
    width: 93px;
  }
  header .wrapper .header__burger-btn {
    display: block;
  }
  header .wrapper .header__links {
    display: none;
  }
  .hero {
    padding-top: 30px;
  }
  .hero .wrapper .hero__text-block {
    margin-right: 60px;
  }
  .hero .wrapper .hero__text-block h1 {
    font-size: 34.893px;
    width: 320px;
    line-height: 37.872px;
    margin-bottom: 24px;
  }
  .hero .wrapper .hero__text-block p {
    font-size: 18px;
    width: 320px;
    margin-bottom: 24px;
  }
  .hero .wrapper .hero__text-block .hero__buttons button {
    width: 150px;
    height: 40px;
    font-size: 14.3px;
  }
  .hero .wrapper .hero__text-block .hero__buttons button img {
    width: 26.182px;
  }
  .hero .wrapper .hero__img-block img {
    width: 100%;
  }
  .getLink {
    padding-top: 60px;
  }
  .getLink .wrapper .getLink__container .inputNbutton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .getLink .wrapper .getLink__container .inputNbutton input {
    width: 280px;
    height: 48px;
    font-size: 16px;
  }
  .getLink .wrapper .getLink__container .inputNbutton button {
    width: 280px;
    height: 48px;
    font-size: 18px;
  }
  .how {
    padding-top: 50px;
  }
  .how .wrapper h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .how .wrapper p {
    font-size: 18px;
    width: 320px;
    margin-bottom: 60px;
  }
  .how .wrapper .how__container {
    margin-top: 0;
    grid-template-areas: "E" "A" "B" "C" "D";
  }
  .how .wrapper .how__container .how__item {
    margin-bottom: 50px;
  }
  .how .wrapper .how__container .how__item .item__wrap p {
    font-size: 22px;
    width: 320px;
    height: auto;
    margin-bottom: 0;
  }
  .how .wrapper .how__container #hi-1 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-1 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container #hi-2 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-2 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container #hi-3 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-3 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container #hi-4 {
    margin-bottom: 0;
  }
  .how .wrapper .how__container #hi-4 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-4 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container .how__img-item {
    width: 320px;
    height: 448px;
    margin-bottom: 120px;
  }
  .how .wrapper .how__container .how__img-item img {
    width: 320px;
  }
  .how .wrapper .how__container .how__img-item img:last-child {
    width: 214.823px;
  }
  .how .wrapper .how__pagination {
    -webkit-transform: translateY(-1150px);
        -ms-transform: translateY(-1150px);
            transform: translateY(-1150px);
  }
  .benefits {
    padding-top: 60px;
  }
  .benefits .wrapper h2 {
    font-size: 24px;
  }
  .benefits .wrapper .benefits__container {
    width: 100%;
  }
  .benefits .wrapper .benefits__container .benefits__item {
    place-items: center;
    padding: 0;
    grid-template-areas: "A" "C" "B";
  }
  .benefits .wrapper .benefits__container .benefits__item:nth-child(2) {
    padding: 0;
    grid-template-areas: "A" "C" "B";
  }
  .benefits .wrapper .benefits__container .benefits__item:nth-child(2) img {
    justify-self: auto;
  }
  .benefits .wrapper .benefits__container .benefits__item:nth-child(2) .item-head, .benefits .wrapper .benefits__container .benefits__item:nth-child(2) p {
    justify-self: auto;
  }
  .benefits .wrapper .benefits__container .benefits__item .item-head span {
    font-size: 64.767px;
  }
  .benefits .wrapper .benefits__container .benefits__item .item-head h3 {
    font-size: 24.982px;
  }
  .benefits .wrapper .benefits__container .benefits__item p {
    font-size: 20px;
    text-align: center;
  }
  .benefits .wrapper .benefits__container .benefits__item img {
    justify-self: auto;
    margin: 25px 0;
  }
  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  footer .wrapper .footer__container {
    padding: 0;
    place-items: center;
    grid-template-areas: "A" "D" "C" "B";
  }
  footer .wrapper .footer__container .logo {
    margin-right: 0;
  }
  footer .wrapper .footer__container .footer__links {
    margin-top: 40px;
    text-align: center;
    margin-right: 0;
  }
  footer .wrapper .footer__container .footer__links.ll {
    margin-right: 0;
    display: none;
  }
  footer .wrapper .footer__container .footer__buttons {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  footer .wrapper .footer__container .footer__buttons button {
    width: 149.381px;
    height: 38.364px;
    font-size: 14.134px;
  }
  footer .wrapper .footer__container .footer__buttons button img {
    width: 25.854px;
  }
  footer .wrapper .line {
    display: none;
  }
  footer .wrapper p {
    width: 257px;
    text-align: center;
    color: #9E9DA2;
  }
}
@media (max-width: 709.98px) {
  .wrapper {
    width: 320px;
  }
  header {
    padding: 44px 0 0 0;
  }
  header .wrapper .logo img {
    width: 93px;
  }
  header .wrapper .header__burger-btn {
    display: block;
  }
  header .wrapper .header__links {
    display: none;
  }
  .hero {
    padding-top: 30px;
  }
  .hero .wrapper .hero__text-block {
    margin-right: 60px;
  }
  .hero .wrapper .hero__text-block h1 {
    font-size: 34.893px;
    width: 320px;
    line-height: 37.872px;
    margin-bottom: 24px;
  }
  .hero .wrapper .hero__text-block p {
    font-size: 18px;
    width: 320px;
    margin-bottom: 24px;
  }
  .hero .wrapper .hero__text-block .hero__buttons button {
    width: 150px;
    height: 40px;
    font-size: 14.3px;
  }
  .hero .wrapper .hero__text-block .hero__buttons button img {
    width: 26.182px;
  }
  .hero .wrapper .hero__img-block img {
    width: 100%;
  }
  .getLink {
    padding-top: 60px;
  }
  .getLink .wrapper .getLink__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .getLink .wrapper .getLink__container .inputNbutton {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .getLink .wrapper .getLink__container .inputNbutton input {
    width: 280px;
    height: 48px;
    font-size: 16px;
  }
  .getLink .wrapper .getLink__container .inputNbutton button {
    width: 280px;
    height: 48px;
    font-size: 18px;
  }
  .how {
    padding-top: 50px;
  }
  .how .wrapper h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .how .wrapper p {
    font-size: 18px;
    width: 320px;
    margin-bottom: 60px;
  }
  .how .wrapper .how__container {
    width: 100%;
    margin-top: 0;
    grid-template-areas: "E" "A" "B" "C" "D";
  }
  .how .wrapper .how__container .how__item {
    margin-bottom: 50px;
  }
  .how .wrapper .how__container .how__item .item__wrap p {
    font-size: 22px;
    width: 320px;
    height: auto;
    margin-bottom: 0;
  }
  .how .wrapper .how__container #hi-1 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-1 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container #hi-2 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-2 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container #hi-3 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-3 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container #hi-4 {
    margin-bottom: 0;
  }
  .how .wrapper .how__container #hi-4 .item__wrap {
    place-items: center;
  }
  .how .wrapper .how__container #hi-4 .item__wrap p {
    text-align: center;
  }
  .how .wrapper .how__container .how__img-item {
    width: 320px;
    height: 448px;
    margin: 0 0 120px 0;
  }
  .how .wrapper .how__container .how__img-item img {
    width: 320px;
  }
  .how .wrapper .how__container .how__img-item img:last-child {
    width: 214.823px;
  }
  .how .wrapper .how__pagination {
    -webkit-transform: translateY(-1150px);
        -ms-transform: translateY(-1150px);
            transform: translateY(-1150px);
  }
  .benefits {
    padding-top: 60px;
  }
  .benefits .wrapper h2 {
    font-size: 24px;
  }
  .benefits .wrapper .benefits__container {
    width: 100%;
  }
  .benefits .wrapper .benefits__container .benefits__item {
    place-items: center;
    padding: 0;
    grid-template-areas: "A" "C" "B";
  }
  .benefits .wrapper .benefits__container .benefits__item:nth-child(2) {
    padding: 0;
    grid-template-areas: "A" "C" "B";
  }
  .benefits .wrapper .benefits__container .benefits__item:nth-child(2) img {
    justify-self: auto;
  }
  .benefits .wrapper .benefits__container .benefits__item:nth-child(2) .item-head, .benefits .wrapper .benefits__container .benefits__item:nth-child(2) p {
    justify-self: auto;
  }
  .benefits .wrapper .benefits__container .benefits__item .item-head span {
    font-size: 64.767px;
  }
  .benefits .wrapper .benefits__container .benefits__item .item-head h3 {
    font-size: 24.982px;
  }
  .benefits .wrapper .benefits__container .benefits__item p {
    font-size: 20px;
    text-align: center;
  }
  .benefits .wrapper .benefits__container .benefits__item img {
    justify-self: auto;
    margin: 25px 0;
  }
  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  footer .wrapper .footer__container {
    padding: 0;
    place-items: center;
    grid-template-areas: "A" "D" "C" "B";
  }
  footer .wrapper .footer__container .logo {
    margin-right: 0;
  }
  footer .wrapper .footer__container .footer__links {
    margin-top: 40px;
    text-align: center;
    margin-right: 0;
  }
  footer .wrapper .footer__container .footer__links.ll {
    margin-right: 0;
    display: none;
  }
  footer .wrapper .footer__container .footer__buttons {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  footer .wrapper .footer__container .footer__buttons button {
    width: 149.381px;
    height: 38.364px;
    font-size: 14.134px;
  }
  footer .wrapper .footer__container .footer__buttons button img {
    width: 25.854px;
  }
  footer .wrapper .line {
    display: none;
  }
  footer .wrapper p {
    width: 257px;
    text-align: center;
    color: #9E9DA2;
  }
}
