@import "_vars";
@import "_fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

p {
    color: $gray;
    font-family: "Gilroy";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

h1 {
    color: $black;
    font-family: "Gilroy";
    font-size: 60.726px;
    font-style: normal;
    font-weight: 800;
    line-height: 65.91px;
}

h2 {
    color: $black;
    font-family: "Gilroy";
    font-size: 46.386px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.346px;
}

header {
    position: relative;
    padding: 86px 0 38px 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__burger-btn {
            display: none;
            position: relative;
            width: 30px;
            height: 30px;
            background: transparent;
            z-index: 2;
            span {
                position: absolute;
                width: 22px;
                height: 3px;
                background: $black;
                border-radius: 3px;
                left: 4px;
                top: 13.5px;
                &:nth-child(1) {
                    transform: translateY(-7px);
                }
                &:nth-child(3) {
                transform: translateY(7px);
                }
            }
        }
        .header__links {
            display: flex;
            align-items: center;
            gap: 46px;
            a {
                transition: 0.2s;
                color: $black;
                font-family: "Gilroy";
                font-size: 17.161px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            button {
                transition: 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                height: 50px;
                background: $green;
                border-radius: 5.952px;
                border: none;
                outline: none;
                color: $white;
                font-family: "Gilroy";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
        .header__burger-menu {
            display: flex;
            opacity: 0;
            width: 100%;
            transition: 0.2s;
            height: 100vh;
            background: rgba($color: #fff, $alpha: 0.8);
            backdrop-filter: blur(5px);
            padding-top: 100px;
            padding-left: 30px;
            position: absolute;
            top: 0;
            left: 0;
            align-items: start;
            flex-direction: column;
            gap: 40px;
            z-index: -1;
            a {
                transition: 0.2s;
                color: $black;
                font-family: "Gilroy";
                font-size: 17.161px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            button {
                transition: 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                height: 50px;
                background: $green;
                border-radius: 5.952px;
                border: none;
                outline: none;
                color: $white;
                font-family: "Gilroy";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}

.hero {
    padding-top: 60px;
    .wrapper {
        display: flex;
        align-items: end;
        .hero__text-block {
            margin-right: 100px;
            h1 {
                width: 557px;
                margin-bottom: 27px;
            }
            p {
                width: 550px;
                margin-bottom: 62px;
            }
            .hero__buttons {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                button {
                    transition: 0.2s;
                    background: $black;
                    width: 260px;
                    height: 66.773px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    color: $white;
                    gap: 10px;
                    font-family: "Gilroy";
                    font-size: 24.601px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 0px;
                }
            }
        }
    }
}

.getLink {
    padding-top: 80px;
    .wrapper {
        .getLink__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $green;
            padding: 50px 70px;
            border-radius: 10px;
            p {
                width: 246px;
                color: $white;
                font-family: "Gilroy";
                font-size: 24.601px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }
            .inputNbutton {
                display: flex;
                align-items: center;
                gap: 10px;
                input {
                    width: 500px;
                    height: 67px;
                    border-radius: 4.393px;
                    background: $white;
                    border: none;
                    outline: none;
                    padding-left: 30px;
                    color: $black;
                    font-family: "Gilroy";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 0px;
                }
                button {
                    transition: 0.2s;
                    width: 260px;
                    height: 67px;
                    background: $black;
                    border-radius: 4.393px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    font-family: "Gilroy";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 0px;
                }
            }
        }
    }
}

.how {
    padding-top: 120px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-bottom: 25px;
            color: $black;
            font-family: "Gilroy";
            font-size: 46.386px;
            font-style: normal;
            font-weight: 800;
            line-height: 50.346px;
            span {
                color: $green;
            }
        }
        p {
            color: $gray;
            text-align: center;
            font-family: "Gilroy";
            font-size: 23px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            width: 620px;
        }
        .how__container {
            margin: 60px 0;
            display: grid;
            grid-template-areas:
                "A E B"
                "C E D";
            #hi-1 {
                display: grid;
                grid-area: A;
                place-items: center;
                .item__wrap {
                    p {
                        text-align: right;
                        // height: 91px;
                    }
                    place-items: end;
                }
            }
            #hi-2 {
                display: grid;
                grid-area: B;
                place-items: center;

                .item__wrap {
                    p {
                        text-align: left;
                    }
                }
            }
            #hi-3 {
                display: grid;
                grid-area: C;
                place-items: center;
                .item__wrap {
                    p {
                        text-align: right;
                        height: 91px;
                    }
                    place-items: end;
                }
            }
            #hi-4 {
                display: grid;
                grid-area: D;
                place-items: center;
                p {
                    text-align: left;
                }
            }
            .how__item {
                .item__wrap {
                    display: grid;
                    .how__img-box {
                        position: relative;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $green;
                        font-family: "Gilroy";
                        font-size: 34.108px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 37.019px;
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    h4 {
                        color: $black;
                        // text-align: right;
                        font-family: "Gilroy";
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 50.346px;                    
                    }
                    p {
                        height: 91px;
                        color: $gray;
                        width: 290px;
                        // text-align: right;
                        font-family: "Gilroy";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
            }
            .how__img-item {
                grid-area: E;
                width: 400px;
                height: 560px;
                position: relative;
                margin: 0 40px;
                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.benefits {
    padding-top: 90px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-bottom: 50px;
            color: $black;
            font-family: "Gilroy";
            font-size: 46.386px;
            font-style: normal;
            font-weight: 800;
            line-height: 50.346px;
            span {
                color: $green;
            }
        }
        .benefits__container {
            width: 1060px;
            display: flex;
            flex-direction: column;
            .benefits__item {
                display: grid;
                grid-template-areas:
                    "A C"
                    "B C";
                padding: 0 110px 0 38px;
                &:nth-child(2) {
                    margin: 60px 0;
                    padding: 0 70px 0 165px;
                    grid-template-areas:
                        "C A"
                        "C B";
                    img {
                        justify-self: start;
                    }
                    .item-head, p {
                        justify-self: end;
                    }
                }
                .item-head {
                    display: flex;
                    align-items: center;
                    grid-area: A;
                    span {
                        color: $green;
                        font-family: "Gilroy";
                        font-size: 88px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 118.8px;
                    }
                    h3 {
                        margin-left: 30px;
                        color: $black;
                        font-family: "Gilroy";
                        font-size: 33.943px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 32.5px;
                    }
                }
                p {
                    grid-area: B;
                    color: $gray;
                    font-family: "Gilroy";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px;
                }
                img {
                    grid-area: C;
                    display: grid;
                    justify-self: end;
                }
            }
        }
    }
}

footer {
    padding-top: 330px;
    padding-bottom: 240px;
    .wrapper {
        .line {
            width: 100%;
            height: 1px;
            background: #ECECEC;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer__container {
            display: grid;
            padding: 70px 0 40px 0;
            grid-template-areas:
            "A B C D";
            align-items: center;
            .logo {
                margin-right: 90px;
                grid-area: A;
            }
            .footer__links {
                margin-right: 70px;
                grid-area: B;
                &.ll {
                    grid-area: C;
                    margin-right: 100px;
                }
                h4 {
                    color: $purple;
                    font-family: "Gilroy";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                p {
                    margin-top: 0;
                    color: $purple-light;
                    font-family: "Gilroy";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 35px;
                }
            }
            .footer__buttons {
                grid-area: D;
                display: flex;
                gap: 40px;
                button {
                    transition: 0.2s;
                    background: $black;
                    width: 180px;
                    height: 45.844px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3.433px;
                    color: $white;
                    gap: 10px;
                    font-family: "Gilroy";
                    font-size: 16.89px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 0px;
                }
            }
        }
        p {
            color: $green;
            font-family: Gilroy;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 40px;
        }
    }
}

a:hover {
    text-decoration: underline;
    transform: translateY(3px);
}

button:hover {
    transform: translateY(3px);
}

.header__burger-btn:hover {
    transform: translateY(2px);
}

@media (max-width: 1299.98px) {
    .wrapper {
        width: 980px;
    }
    .hero {
        .wrapper {
            .hero__text-block {
                margin-right: 60px;
                h1 {
                    font-size: 52px;
                    width: 420px;
                }
                p {
                    font-size: 20px;
                    width: 400px;
                }
                .hero__buttons {
                    button {
                        width: 200px;
                        height: 50px;
                        font-size: 20px;
                    }
                }
            }
            .hero__img-block {
                img {
                    width: 100%;
                }
            }
        }
    }
    .getLink {
        .wrapper {
            .getLink__container {
                .inputNbutton {
                    input {
                        width: 300px;
                    }
                }
            }
        }
    }
    .how {
        .wrapper {
            h2 {
                font-size: 32px;
            }
            p {
                font-size: 20px;
            }
            .how__container {
                .how__item {
                    .item__wrap {
                        p {
                            width: 240px;
                        }
                    }
                }
            }
        }
    }
    .benefits {
        .wrapper {
            h2 {
                font-size: 32px;
            }
            .benefits__container {
                width: 980px;
                .benefits__item {
                    .item-head {
                        h3 {
                            font-size: 28px;
                        }
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    footer {
        .wrapper {
            .footer__container {
                .logo {
                    margin-right: 50px;
                }
                .footer__links {
                    margin-right: 40px;
                    &.ll {
                        margin-right: 50px;
                    }
                }
                .footer__buttons {
                    gap: 10px;
                    button {
                        width: 160px;
                        height: 40px;
                    }
                }
            }
        }
    }

}

@media (max-width: 999.98px) {
    .wrapper {
        width: 680px;
    }
    header {
        padding: 44px 0 0 0;
        .wrapper {
            .logo {
                img {
                    width: 93px;
                }
            }
            .header__burger-btn {
                display: block;
            }
            .header__links {
                display: none;
            }
        }
    }
    .hero {
        padding-top: 30px;
        .wrapper {
            .hero__text-block {
                margin-right: 60px;
                h1 {
                    font-size: 34.893px;
                    width: 320px;
                    line-height: 37.872px;
                    margin-bottom: 24px;
                }
                p {
                    font-size: 18px;
                    width: 320px;
                    margin-bottom: 24px;
                }
                .hero__buttons {
                    button {
                        width: 150px;
                        height: 40px;
                        font-size: 14.3px;
                        img {
                            width: 26.182px;
                        }
                    }
                }
            }
            .hero__img-block {
                img {
                    width: 100%;
                }
            }
        }
    }
    .getLink {
        padding-top: 60px;
        .wrapper {
            .getLink__container {
                .inputNbutton {
                    flex-direction: column;
                    input {
                        width: 280px;
                        height: 48px;
                        font-size: 16px;
                    }
                    button {
                        width: 280px;
                        height: 48px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .how {
        padding-top: 50px;
        .wrapper {
            h2 {
                font-size: 24px;
                margin-bottom: 8px;
            }
            p {
                font-size: 18px;
                width: 320px;
                margin-bottom: 60px;
            }
            .how__container {
                margin-top: 0;
                grid-template-areas:
                    "E"
                    "A"
                    "B"
                    "C"
                    "D";
                .how__item {
                    margin-bottom: 50px;
                    .item__wrap {
                        p {
                            font-size: 22px;
                            width: 320px;
                            height: auto;
                            margin-bottom: 0;
                        } 
                    }
                }
                #hi-1 {
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                #hi-2 {
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                #hi-3 {
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                #hi-4 {
                    margin-bottom: 0;
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                .how__img-item {
                    width: 320px;
                    height: 448px;
                    margin-bottom: 120px;
                    img {
                        width: 320px;
                        &:last-child {
                            width: 214.823px;
                        }
                    }
                }
            }
            .how__pagination {
                transform: translateY(-1150px);
            }
        }
    }
    .benefits {
        padding-top: 60px;
        .wrapper {
            h2 {
                font-size: 24px;
            }
            .benefits__container {
                width: 100%;
                .benefits__item {
                    place-items: center;
                    padding: 0;
                    grid-template-areas: 
                        "A"
                        "C"
                        "B";
                    &:nth-child(2) {
                        padding: 0;
                        grid-template-areas:
                            "A"
                            "C"
                            "B";
                        img {
                            justify-self: auto;
                        }
                        .item-head, p {
                            justify-self: auto;
                        }
                    }
                    .item-head {
                        span {
                            font-size: 64.767px;
                        }
                        h3 {
                            font-size: 24.982px;
                        }
                    }
                    p {
                        font-size: 20px;
                        text-align: center;
                    }
                    img {
                        justify-self: auto;
                        margin: 25px 0;
                    }
                }
            }
        }
    }
    footer {
        padding-top: 100px;
        padding-bottom: 100px;
        .wrapper {
            .footer__container {
                padding: 0;
                place-items: center;
                grid-template-areas: 
                "A"
                "D"
                "C"
                "B"
                ;
                .logo {
                    margin-right: 0;
                }
                .footer__links {
                    margin-top: 40px;
                    text-align: center;
                    margin-right: 0;
                    &.ll{
                        margin-right: 0;
                        display: none;
                    }
                }
                .footer__buttons {
                    margin-top: 40px;
                    flex-direction: column;
                    gap: 10px;
                    button {
                        width: 149.381px;
                        height: 38.364px;
                        font-size: 14.134px;
                        img {
                            width: 25.854px;
                        }
                    }
                }
            }
            .line {
                display: none;
            }
            p {
                width: 257px;
                text-align: center;
                color: $gray;
            }
        }
    }

}
@media (max-width: 709.98px) {
    .wrapper {
        width: 320px;
    }
    header {
        padding: 44px 0 0 0;
        .wrapper {
            .logo {
                img {
                    width: 93px;
                }
            }
            .header__burger-btn {
                display: block;
            }
            .header__links {
                display: none;
            }
        }
    }
    .hero {
        padding-top: 30px;
        .wrapper {
            .hero__text-block {
                margin-right: 60px;
                h1 {
                    font-size: 34.893px;
                    width: 320px;
                    line-height: 37.872px;
                    margin-bottom: 24px;
                }
                p {
                    font-size: 18px;
                    width: 320px;
                    margin-bottom: 24px;
                }
                .hero__buttons {
                    button {
                        width: 150px;
                        height: 40px;
                        font-size: 14.3px;
                        img {
                            width: 26.182px;
                        }
                    }
                }
            }
            .hero__img-block {
                img {
                    width: 100%;
                }
            }
        }
    }
    .getLink {
        padding-top: 60px;
        .wrapper {
            .getLink__container {
                flex-direction: column;
                .inputNbutton {
                    margin-top: 20px;
                    flex-direction: column;
                    input {
                        width: 280px;
                        height: 48px;
                        font-size: 16px;
                    }
                    button {
                        width: 280px;
                        height: 48px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .how {
        padding-top: 50px;
        .wrapper {
            h2 {
                font-size: 24px;
                margin-bottom: 8px;
            }
            p {
                font-size: 18px;
                width: 320px;
                margin-bottom: 60px;
            }
            .how__container {
                width: 100%;
                margin-top: 0;
                grid-template-areas:
                    "E"
                    "A"
                    "B"
                    "C"
                    "D";
                .how__item {
                    margin-bottom: 50px;
                    .item__wrap {
                        p {
                            font-size: 22px;
                            width: 320px;
                            height: auto;
                            margin-bottom: 0;
                        } 
                    }
                }
                #hi-1 {
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                #hi-2 {
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                #hi-3 {
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                #hi-4 {
                    margin-bottom: 0;
                    .item__wrap {
                        place-items: center;
                        p {
                            text-align: center;
                        }
                    }
                }
                .how__img-item {
                    width: 320px;
                    height: 448px;
                    margin: 0 0 120px 0;
                    img {
                        width: 320px;
                        &:last-child {
                            width: 214.823px;
                        }
                    }
                }
            }
            .how__pagination {
                transform: translateY(-1150px);
            }
        }
    }
    .benefits {
        padding-top: 60px;
        .wrapper {
            h2 {
                font-size: 24px;
            }
            .benefits__container {
                width: 100%;
                .benefits__item {
                    place-items: center;
                    padding: 0;
                    grid-template-areas: 
                        "A"
                        "C"
                        "B";
                    &:nth-child(2) {
                        padding: 0;
                        grid-template-areas:
                            "A"
                            "C"
                            "B";
                        img {
                            justify-self: auto;
                        }
                        .item-head, p {
                            justify-self: auto;
                        }
                    }
                    .item-head {
                        span {
                            font-size: 64.767px;
                        }
                        h3 {
                            font-size: 24.982px;
                        }
                    }
                    p {
                        font-size: 20px;
                        text-align: center;
                    }
                    img {
                        justify-self: auto;
                        margin: 25px 0;
                    }
                }
            }
        }
    }
    footer {
        padding-top: 100px;
        padding-bottom: 100px;
        .wrapper {
            .footer__container {
                padding: 0;
                place-items: center;
                grid-template-areas: 
                "A"
                "D"
                "C"
                "B"
                ;
                .logo {
                    margin-right: 0;
                }
                .footer__links {
                    margin-top: 40px;
                    text-align: center;
                    margin-right: 0;
                    &.ll{
                        margin-right: 0;
                        display: none;
                    }
                }
                .footer__buttons {
                    margin-top: 40px;
                    flex-direction: column;
                    gap: 10px;
                    button {
                        width: 149.381px;
                        height: 38.364px;
                        font-size: 14.134px;
                        img {
                            width: 25.854px;
                        }
                    }
                }
            }
            .line {
                display: none;
            }
            p {
                width: 257px;
                text-align: center;
                color: $gray;
            }
        }
    }

}
